@model Mvc.Identity101.Data.Dto.UserDto

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@section css {
    <style>
        .gallery-item {
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            cursor: pointer;
        }

        .gallery-item:hover {
            transform: scale(1.05);
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
        }

        .gallery-img {
            object-fit: cover;
            height: 250px;
            border-radius: 12px;
        }

        @@media (max-width: 768px) {
            .gallery-img {
                height: 200px;
            }
        }
    </style>
}

<h2>Detail Page</h2>
<h1>@Model.UserName</h1>
<h3>@Model.Email</h3>
<h3>@Model.Phone</h3>
<h3>@Model.Id ll</h3>

<h5>
    <a class="btn btn-success" asp-action="ChangePhoto" asp-controller="Member">Profil Fotosu</a>
</h5>

<h5>
    <a asp-action="ChangePassword" asp-controller="Member">Change Password</a>
</h5>

<p>img path şu şekilde: @Model.imgPath</p>
<img src="@Url.Content(Model.imgPath)" alt="Profil Fotoğrafı" class="rounded-circle"
     style="width:150px; height:150px; object-fit:cover;">
<br/>

<div class="container mt-4">
    <div class="row g-3">
        @foreach (var photo in Model.Photos)
        {
            <div class="col-md-4 col-sm-6">
                <div class="gallery-item position-relative overflow-hidden rounded shadow-sm">
                    <a asp-controller="Member" asp-action="ImgDetail" asp-route-id="@photo.Id">

                        <img src="@Url.Content(photo.imgPath)"  class="img-fluid w-100 gallery-img"/>
                    </a>
                </div>
            </div>
        }
    </div>
</div>
